@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #09090b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: white; /* Utilizando a variável de cor de fundo branca do Tailwind */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc; /* Utilizando a variável de cor de fundo branca do Tailwind */
}
